@model IEnumerable<IdentityUser>
<div class="text-center">
    <div class="display-6">
        Users
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Roles</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>-</td>
                <td>
                    <div class="btn-group">
                        <div class="btn btn-sm bt-outline-warning">Update</div>
                        <div class="btn btn-sm bt-outline-info">Reset Password</div>
                        <div class="btn btn-sm bt-outline-danger">Delete</div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>