@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Software Akademi</h1>
    <p> 
        <a class="btn-outline-primary border-2 rounded bg-black" href="/course/apply">Apply</a></p>

</div>

