<div class="bg-light border-top border-3 mt-5 p-3 mb-0 ">
    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center display-6">
                    <i class="fas fa-store fa-lg fa-fw text-secondary display-6"></i>
                    <br/>
                    <bold>BTK</bold> Akademi
                </div>
                <div class="text-muted text-center">
                    Store App
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                    &copy; 2024 <br/> BTK Akademi ASP.NET Core MVC Eğitimi
                </div>
                <div class="text-center">
                    <div class="btn-group gap-2">
                        <a href="" class="btn btn-outline-dark rounded-5 border-2 border border-dark">
                            <i class="fa-brands fa-2x fa-github"></i>
                        </a>
                        <a href="" class="btn btn-outline-dark rounded-5 border-2 border border-dark">
                            <i class="fa-brands fa-2x  fa-facebook"></i>
                        </a>
                        <a href="" class="btn btn-outline-dark rounded-5 border-2 border border-dark">
                            <i class="fa-brands fa-2x fa-twitter"></i>
                        </a>
                        <a href="" class="btn btn-outline-dark rounded-5 border-2 border border-dark">
                            <i class="fa-brands fa-2x fa-instagram"></i>
                        </a>
                        <a href="" class="btn btn-outline-dark rounded-5 border-2 border border-dark">
                            <i class="fa-brands fa-2x fa-linkedin"></i>
                        </a>
                        
                    </div>
                </div>

            </div>

            @* Products TagHelper View Alanında Kullanımı *@


            <div class="col-md-2">
                <div products="" number="6">

                </div>
            </div>
        </div>
    </div>
</div>